body {
    background-image: url('R.jpeg'); /* Resminizin URL'si */
    background-size: cover; /* Resmi tüm arka plana yay */
}

h1 {
    background-color: whitesmoke; /* Yazının arka plan rengi */
    color:#007bff; /* Yazı rengi */
    padding: 10px 0; /* Üst ve alttan boşluk */
    width: fit-content; /* İçeriğe göre genişlik */
    margin: auto; /* Otomatik marj ile ortala */
    border-radius: 10px; /* Kenarları yuvarlak yap */
    margin-top: 150px;
}

nav {
    background-color: whitesmoke;
    border-radius: 10px;
    text-align: center;
    width: 200px; /* Kare şekli için genişlik */
    height: 200px; /* Kare şekli için yükseklik */
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul { /* beyaz kutu yerleştirme */
    list-style-type: none;
    padding: 0;
    margin: 0; /* İç içe elemanların ortalanması için */
}

nav ul li { /* login register yerleri */
    display: inline-block; /* Bağlantıları yan yana getirir */
    margin: 0 10px; /* Bağlantılar arasında boşluk bırakır */
}

nav ul li a { /* log reg yazı kutu*/
    background-color: #007bff;
    border-radius: 10px;
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
}

/* 'Browse as Guest' butonunu ayrı bir satıra almak için */
form {
    margin-top: 20px; /* Üstteki bağlantılardan boşluk bırakır */
}


nav ul li a:hover,
nav ul li a:focus {
    background-color: #007bff;
    border-radius: 5px;
}

button {
    border-radius: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

button:hover,
button:focus {
    background-color: #218838;
}