body {
    background-image: url('R.jpeg'); /* Resminizin URL'si */        
    background-size: cover; /* Resmi tüm arka plana yay */
    background-repeat: no-repeat; /* Resmin tekrarlanmasını önle */
    background-attachment: fixed; /* Arka plan resminin kaydırma ile sabit kalmasını sağla */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Tam ekran yüksekliği */
}

h1 {
    background-color: whitesmoke;
    color: #007bff;
    padding: 30px;
    border-radius: 10px;
    margin-top: -350px;
    margin-left: 50px;
}

form {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px; /* Form genişliği */
    margin-left: -250px;
}

label {
    display: block; /* Her etiketi yeni bir satıra al */
    margin-top: 10px; /* Etiketler arası boşluk */
}

input[type="email"],
input[type="text"],
input[type="password"] {
    width: calc(100% - 20px); /* Input genişliği */
    padding: 10px;
    margin-top: 5px; /* Input üst boşluğu */
    border-radius: 5px; /* Kenar yuvarlaklığı */
    border: 1px solid #ddd; /* Kenarlık stili */
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block; /* Butonu blok eleman yap */
    width: 100%; /* Buton genişliği */
    margin-top: 20px; /* Buton üst boşluğu */
    cursor: pointer;
}

button:hover,
button:focus {
    background-color: #218838;
}
