<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hoş Geldiniz</title>
  </head>
  <body>
    <header><h1>Forum Platformuna Hoş Geldiniz</h1></header>
    <section>
          <div class="Button-Şekli">
            <button><a href="/login">Giriş Yap</a></button>
          <button><a href="/register">Kayıt Ol</a></button>
          <form action="/login-guest" method="post">
            <button type="submit"><u>Misafir Olarak Giriş Yap</u></button>
          </form>
          </div>
    </section>
  </body>
</html>
