<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forum Platform</title>
    <link rel="stylesheet" href="/static/style_home.css">
</head>
<body>
    <h1>Welcome to the Forum Platform</h1>
    <nav>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <form action="/login-guest" method="post">
        <button type="submit">Browse as Guest</button>
    </form>
        </ul>
    </nav>
</body>
</html>

