<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hoş Geldiniz</title>
  </head>
  <body>
    <header><h1>Forum Platformuna Hoş Geldiniz</h1></header>
    <section>
      <div>
        <nav>
          <a href="/login">Login</a>
        </nav>
      </div>
      <br />
      <div>
        <nav>
          <a href="/register">Register</a>
        </nav>
      </div>
      <br />
      <div>
        <nav>
          <form action="/login-guest" method="post">
            <button type="submit">Browse a Guest</button>
          </form>
        </nav>
      </div>
    </section>
  </body>
</html>
